body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  background: linear-gradient(top left, #ffffff 0%, #e5e5e5 100%);
  color: #767676; }

header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  z-index: 2; }
  header img {
    height: 18px;
    margin-left: 20px; }
  header div {
    display: flex;
    margin: 15px; }
    header div h3 {
      margin-left: 30px;
      color: #aaa;
      font-size: 12px;
      font-weight: 400; }

.container {
  width: 100%;
  min-width: 100%;
  height: 90vh;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.title {
  width: 750px;
  max-width: 100%;
  margin-left: 30px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }

/*.bottom {
  width: 360px;
}*/
h1 {
  font-size: 60px;
  color: black;
  margin: 8px;
  font-weight: 300; }
  h1:nth-child(2) {
    width: auto;
    border-bottom: #ddd;
    animation: change-to-white 3s ease-in infinite; }

@keyframes change-to-white {
  85% {
    color: black; }
  95% {
    color: white; } }

.para {
  margin-top: 50px;
  display: block; }
  .para p {
    margin-top: 0px;
    max-width: 400px;
    text-align: center;
    font-size: 15px;
    color: #767676;
    font-weight: 300;
    opacity: 1;
    line-height: 22px; }

.container-two {
  height: 350px;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

form {
  max-width: 400px;
  margin-top: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1; }

h4 {
  color: #0075c9;
  font-weight: 300;
  font-size: 18px; }

.field {
  height: auto;
  display: flex;
  flex-direction: column-reverse;
  margin: 20px;
  transform: scaleX(1);
  opacity: 0; }
  .field input:focus {
    outline: none;
    border-bottom: 2px solid #0075c9;
    transform: scaleX(1.1); }
  .field input:valid {
    border-bottom: 2px solid #5cb85c; }

.fadein {
  animation: fadein 3s forwards; }

@keyframes fadein {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }

label {
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: -14px;
  color: #0075c9;
  opacity: 0;
  height: 15px;
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1); }

input {
  width: 300px;
  margin-bottom: 0px;
  padding-bottom: 15px;
  background: none;
  border: none;
  border-bottom: 2px solid #ddd;
  color: #0075c9;
  font-size: 18px;
  transform: scaleX(1);
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1); }
  input:focus ~ label {
    opacity: 1;
    font-size: 10px; }
  input::placeholder {
    margin-bottom: 20px;
    padding: 6px 0px 0px 10px;
    font-size: 14px; }
  input:focus::placeholder {
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); }
  input:invalid:not(:focus):not(:placeholder-shown) {
    border-bottom: 2px solid #ec6b69; }

/*input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}*/
.check {
  width: 300px;
  max-width: 300px;
  height: 60px;
  display: flex;
  opacity: 0; }
  .check p {
    color: black;
    font-size: 10px;
    text-align: left;
    line-height: 15px; }
  .check input {
    opacity: 1; }
  .check label {
    margin-left: -120px;
    opacity: 1;
    color: #aaa; }

.submit {
  height: 85px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .submit input {
    height: 100%;
    width: 300px;
    margin-top: 0px;
    padding: 10px 0px 12px 0px;
    background: #0075c9;
    border: 2px solid #0075c9;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    transform: translateY(-240px); }

.movedown {
  animation: intro 1s cubic-bezier(0.215, 0.61, 0.355, 1) forwards; }

@keyframes intro {
  0% {
    background: #0075c9;
    color: white;
    transform: translateY(-240px); }
  100% {
    background: white;
    color: #0075c9;
    transform: translateY(30px); } }

::-webkit-input-placeholder {
  color: lightgrey; }

.fadeOut {
  animation: fadeOut 1s forwards; }

@keyframes fadeOut {
  100% {
    opacity: 0; } }

.container-three {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

button {
  height: 42px;
  width: 300px;
  margin-top: 3px;
  opacity: 1;
  border: none; }
  button:focus {
    outline: none; }

@media only screen and (max-width: 755px) {
  .title {
    flex-direction: column;
    align-items: center;
    margin-left: 0px; }
    .title h1 {
      font-size: 50px; }
  button {
    height: 42px;
    width: 300px;
    margin-top: 65px;
    border: none;
    opacity: 0; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 750px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    -webkit-tap-highlight-color: white; }
  .container {
    height: 100vh; }
  .title {
    width: 340px;
    margin-top: -50px;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center; }
  header {
    align-items: center; }
  img {
    height: 10px;
    margin-left: 20px;
    margin-top: -5px; }
  h3 {
    margin-left: 20px;
    color: grey;
    font-size: 10px;
    font-weight: 400; }
  .change {
    height: 34px; }
  .title {
    flex-direction: column;
    align-items: center;
    margin-left: 0px; }
    .title h1 {
      font-size: 35px;
      line-height: 28px; }
      .title h1:h1:nth-child(2) {
        width: auto; }
  .para {
    width: 70%;
    margin-top: 5px; }
    .para p {
      font-size: 13px; }
  .container-two {
    margin-top: -45px; }
  form {
    width: 250px;
    height: 190px;
    margin-top: 0px; }
  .field input {
    width: 180px;
    height: 14px;
    border-radius: 0;
    font-size: 16px;
    -webkit-appearance: none; }
    .field input::placeholder {
      padding: 0px;
      font-size: 14px; }
  .check {
    width: 200px;
    max-width: 200px;
    height: 60px;
    display: flex;
    opacity: 0; }
    .check input {
      opacity: 1;
      height: 25px;
      width: 25px; }
    .check label {
      margin-left: 10px;
      opacity: 1;
      color: #aaa; }
  .submit {
    height: 260px;
    width: 200px; }
    .submit input {
      height: 100px;
      width: 200px;
      font-size: 12px;
      transform: translateY(-140px);
      -webkit-appearance: none; }
  @keyframes intro {
    0% {
      transform: translateY(-140px); }
    100% {
      transform: translateY(40px); } }
  button {
    height: 36px;
    width: 200px;
    margin-top: 205px; } }
